:root {
    --primary-color: white;
    --secondary-color:#D8E2DC;
    --tertiary-color: #4D5359;
    --primary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: var(--primary-font);
}

button {
    padding: 10px;
    margin: 15px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    background-color: #4B3570;
    color: white;
    display: center;
}

button:hover {
    background-color: #C589E8;
}

header {
    text-align: right;
    margin: 15px auto;
    padding: 15px;
    
}

.quiz-contents p {
    padding: 25px;
}
.wrapper {
    display: flex;
}

.container {
    display: block;
    margin: 80px auto;
    text-align: center;
    border: #DBDAEA solid 5px;
    padding: 25px;
}

.title {
    font-size: 35px;
}

.title h4{
    color: var(--tertiary-color);
}

.title p {
    font-size: 20px;
    font-weight: lighter;
    color: gray;
}

.message {
    text-align: center;
    color: gray;
    margin: 10px;
    font-size: 30px;
}

.intro {
    font-size: 20px;
    font-weight: lighter;
}

li {
    background-color: #AFA4CB;
}
